<h1 id="movieTitle">End Game</h1>
<section class="cover">
	<img id="cover-img" src="img/cover.jpg">
</section>
<a class="btn-next" href="" onclick="actionRight();"></a>
<a class="btn-prev" href="" onclick="actionLeft();"></a>
<section class="lecteur">
	<div class="progress" id="video-bar" onclick="progSeek(this);">
		<div id="video-bar-progress" class="progress-bar progress-bar-info player-bar-perc" style="width: 0%"></div>
	</div>
	<button class="btn-play" href="#play" onclick="actionPlay(this);"></button>
</section>
