body
{
    text-align: center;
}

.lecteur
{
    position: absolute;
    bottom: 0; left: 0; right: 0;
    background-color: #15171a;
    width: 100%;
    overflow: hidden;
}

.lecteur button, .lecteur .progress
{
    margin: 5px auto;
}

.lecteur .progress
{
    height: 10px;
    width: 80%;
    border-radius: 0;
}

.progress
{
    background-color: #000;
    border: 1px solid #223646;
}

.cover
{
    width: 85%;
    height: 85vw;
    margin: 0 auto;
    position: absolute;
    left: 7.5%;
    top: calc(85vw / 2);
}

.cover img
{
    height: 100%;
    box-shadow: 0 0 20px #000;
    border: 1px solid #22252a;
}

.btn-pause{ background: url(../img/pause.png) no-repeat top left;}
.btn-play{ background: url(../img/play.png) no-repeat top left;}

.btn-play, .btn-pause
{
    background-size: 100%;
    content: "";
    width: 30px;
    height : 30px;
    display: block;
    margin: 10px auto;
    border: 0;
}

.btn-next{background: url(../img/next.png) no-repeat top left; right: 0;}
.btn-prev{background: url(../img/prev.png) no-repeat top left; left: 0;}

.btn-next, .btn-prev
{
    background-size: 100%;
    top:40%;
    content: "";
    position: absolute;
    width: 60px;
    height : 60px;
}

#log
{
    margin: 30px;
}