body
{
    text-align: center;
}

.title
{
    color: #22252a;
    text-transform:uppercase;
}

body
{
    background: #3b647a;
    //box-shadow: inset 0 0 300px rgba(0,0,0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
}

.logo
{
    margin: 20px;
    width: 30%;
}

.lecteur
{
    position: absolute;
    bottom: 0; left: 0; right: 0;
    background-color: #22252a;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.lecteur button, .lecteur .progress
{
    margin: 20px auto;
}

.lecteur .progress
{
    height: 30px;
    width: 80%;
    border-radius: 0;
}

.progress
{
    background-color: #000;
    border: 1px solid #223646;
}

.cover
{
    width: 85%;
    height: 70vw;
    max-height: 628px;
    margin: 0 auto;
    position: absolute;
    left: 7.5%;
    top: calc(85vw / 2);
}

.cover img
{
    height: 100%;
    box-shadow: 0 0 20px #000;
    border: 1px solid #22252a;
}

.btn-pause{ background: url(../img/pause.png) no-repeat top left;}
.btn-play{ background: url(../img/play.png) no-repeat top left;}

.btn-play, .btn-pause
{
    background-size: 100%;
    content: "";
    width: 50px;
    height : 50px;
    display: block;
    margin: 0 auto;
    border: 0;
}

.btn-next{background: url(../img/next.png) no-repeat top left; right: 0;}
.btn-prev{background: url(../img/prev.png) no-repeat top left; left: 0;}

.btn-next, .btn-prev
{
    background-size: 100%;
    top:40%;
    content: "";
    position: absolute;
    width: 60px;
    height : 60px;
}

#log
{
    position: absolute;
    width: 80%;
    margin: 0; padding: 0;
    font-size: 1.5em;
    top: 40%;
    left: 10%;
    text-align: right;
}

input[type="text"], input[type="password"]
{
    height: 40px;
    width: 60%;
    margin: 10px;
}

.log
{
    width: 100%;
    text-align: center;
    display: block;
    background: #22252a;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.log:hover
{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9), inset 0 0 20px rgba(255, 255, 255, 0.1);
}
